<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="com.telran.GroupCreationTests" />
            <class name="com.telran.GroupDeletionTests" />
            <class name="com.telran.GroupModificationTests" />
        </classes>
    </test>


    <test name="Contacts">
        <classes>
            <class name="com.telran.ContactCreationTests"/>
            <class name="com.telran.ContactModificationTests"/>
            <class name="com.telran.ContactDeletionTests"/>
        </classes>
    </test>
</suite>
